
		<nav>
			<section>
				<div>
					<img src="http://www.usamimi.info/~scottei/images/top_02.jpg" alt="">
				</div>
				<ul>
					<li>
						<a href="https://www.nicovideo.jp/search/%E5%81%A5%E9%9F%B3%E3%83%86%E3%82%A4" target="_blank"><img src="img/nico.png" alt="">ニコニコ動画</a>
					</li>
					<li>
						<a href="https://twitter.com/search?f=tweets&vertical=default&q=%E5%81%A5%E9%9F%B3%E3%83%86%E3%82%A4" target="_blank"><img src="img/twitter.png" alt="">twitter</a>
					</li>
					<li>
						<a href="https://www.pixiv.net/search.php?s_mode=s_tag&word=%E5%81%A5%E9%9F%B3%E3%83%86%E3%82%A4%20UTAU%E6%94%AF%E6%8F%B4%E4%B8%AD" target="_blank"><img src="img/pixiv.png" alt="">pixiv</a>
					</li>
				</ul>
			</section>

			<section>
				<h1>最近のお知らせ</h1>
				<dl>
					<dt>2014.6.19</dt>
					<dd>クリプトン・フューチャー・メディア株式会社様へ釣りに関する謝罪の文書をお送りいたしました。</dd>
					<dt>2014.06.26</dt>
					<dd>釣りに関する謝罪について、クリプトン・フューチャー・メディア株式会社様よりご返答をいただきました。</dd>
				</dl>
			</section>

			<section>
				<h1>更新履歴</h1>
				<dl>
					<dt>2014.6.19</dt>
					<dd>音源・キャラクターイラスト双方の規約の問い合わせ先を更新しました。</dd>
					<dt>2014.6.19</dt>
					<dd>音源班の名称を、他団体と区別するため、「すこってい音源班」としました。</dd>
					<dt>2019.06.19</dt>
					<dd>公式サイトをリニューアルしました。</dd>
				</dl>
			</section>


		</nav>
