		<input type="checkbox" id="menu-status">
		<header>
			<div id="logo">
				<img src="img/headlogo-01.png" alt="">
			</div>
			<label for="menu-status" id="menu-toggle">
				<span id="t"></span>
				<span id="m"></span>
				<span id="b"></span>
			</label>
			<menu>
				<ul>
					<li><a href="index.html">TOP</a></li>
					<li><a href="scottei.html">ABOUT</a></li>
					<li id="guid-inve">
						<a href="guide_main.html">規約</a>
						<ul>
							<li><a href="guide_voicebank.html">音源規約</a></li>
							<li><a href="guide_character.html">キャラクターイラスト規約</a></li>
							<li><a href="faq_voicebank.html">音源に関するFAQ</a></li>
							<li><a href="faq_character.html">キャラクターに関するFAQ</a></li>
							<li><a href="faq_other.html">そのほかFAQ</a></li>
						</ul>
					</li>
					<li><a href="voicebank.html">音源</a></li>
					<li><a href="member.html">運営</a></li>
					<li><a href="mail.html">問合せ</a></li>
				</ul>
			</menu>
		</header>
